*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif; 
}
.header-point{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header{
    padding: 20px 0px;
   
    
}
main{
    background:url("./img/banner/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    

}
.container{
    max-width: 1125px;
    margin: 20px auto;
    padding: 0px 15px;
}
.header-point nav {
    display: flex;
    gap: 30px;
}
.header-point nav a{
    color: aliceblue;

}    
   

a{text-decoration: none;

}
/* first strat */
@media only screen and (max-width:576px){
    .header-point{
        display: flex;
        flex-direction: column;
       
    }
    .header-point h1{
        margin-bottom: 20px;
    }
}
/* first end */



@media only screen and (min-width:1200px){
    .banner-point h1 {
        font-size: 94px;
        

    }
    .text-break{
        display: block;
       
    }
    
}    

@media only screen and (max-width:760px){
      .client-point>div{
        width: 50%;

      }
      .client-point{
        display: flex;
        
   
       
    }
}
@media only screen and (max-width:576px){
    .client-point>div{
        width: 50%;
        
    }
}


/* bannerstart */
.banner-point{
    text-align: center;
}
.banner-point p{
    margin: 65px 0px 70px 0px;

}
.banner-point a{
    display:inline-flex;
    background-color:#231A36;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 50px;
    margin-bottom: 30px;

    
    
   

}
.banner-point h1{
    font-size: 50px;

}
/* bannerend */

/* client start */
.clients{
    padding: 30px 0px;
}
.clients h6{
    text-align: center;
    color: #B2B7BE;
    margin-bottom: 20px;
}
.client-point{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   

}
.client-point>div{
    text-align: center;
}
/* client end */
/* solution  start*/
.solution-head div {
    text-align: center;
    
}
.solution.container{
    max-width: 750px;
}
.solution-head div{
    margin-bottom: 50px;
}
.solution-head div h2{
        margin-bottom: 10px;
}
.solution{
    padding: 100px 0px;
    background-color: #EBEBEB;
}
.solution-point{
   display: flex;
   align-items: center;
  
}
.solution-point>div{
    width: 50%;
}

.solution>div:last-child{
    text-align: right;
}
.solution-point:not(:last-child){
    margin-bottom: 50px;
}
/* }
.solution-point2{
    display: flex;
    align-items: center;
}
.solution-point2>div:last-child{
    text-align: right;
}
.solution-point2>div{
    width: 500px;
}
.solution-point2 div{
    margin-bottom: 50px;
}
.solution-point3{
    display: flex;
    align-items: center;
}
.solution-point3>div:last-child{
    text-align: right;
} 
.solution-point3>div{
    width: 500px;
}
.solution-point2 div{
    margin-bottom: 70px;
} */

/* .solution>div:last-child>div:nth-child(2)>div:nth-child(1){
   order: 2;
}
.solution>div:last-child>div:nth-child(2)>div:nth-child(2){
   order: 1;
   text-align: left;
} */

/* reponseve */

@media only screen and (max-width:768px){
     .solution-point{
        flex-direction: column;
       
        
    }
    .solution-point>div:last-child{
        text-align: center;

    }

    .solution-point>div:first-child{
        text-align: center;
    }
    .solution>div:last-child>div:nth-child(2)>div:nth-child(2){
        text-align: center;
    }
    .solution-point img{
       width: 100%;
}
.happy-wrapper{
    flex-direction: column;
    gap: 30px;
 }
 .happy-point p{
   margin-bottom: 40px;
 }
 .happy-wrapper{
    text-align: center;


 }
 .happy-wrapper img{
    margin-top: 30px;
 }
 .numbers{
    flex-direction: column;
    align-items: center;
 }
 
 
     
    
}
@media only screen and (max-width:568px){
    .solution-point>div:last-child{
        margin-top: 30px;
    }

}

@media only screen and (min-width:768px){
     .solution>div:last-child>div:nth-child(2)>div:nth-child(1){
   order: 2;
}
.solution>div:last-child>div:nth-child(2)>div:nth-child(2){
   order: 1;
   text-align: left;

}
.happy-wrapper>div{
    width: 50%;
}
.happy-point p{
   margin-bottom: 40px;
 }
       
        
    }

/* solution end */
.profile{
    text-align: center;
    
    
}
.profile h2{
 font-size: 35px;
 /* padding: 15px; */
 color: #ffffff;
 
 
}
.profile p{
    margin-bottom: 80px;
    color: #7B9292;
   
}
/* media start */
.numbers{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.numbers >div p{
    font-size: 14px;
    margin-bottom: 50px;

}

.media>.container{
    margin-top:0px ;
}
.profile h2 {
    padding: 50px 0px;
}
.media{
    background-color:#231A36 ;
}

/* happy start */
.happy{
    padding: 100px 0px;
}
.happy-point{
    text-align: center;
}
.happy-wrapper{
    display: flex;
    align-items: center;
}


.happy-wrapper>div:last-child{
    text-align: right;
}
.happy-wrapper>div p{
    margin-bottom: 50px;
}
.happy-point h2{
    position: relative;
    display: inline-block;
}
.happy-point img{
    position:absolute;
    top: -30px;
    right: -60px;
}
.happy-point h2{
    margin-bottom: 15px;
}
/* new start */
.news-point>div{
    text-align: center;
    /* color: #ffffff; */

}
.news>.container{
   
    max-width: 50%;
   

   background:url("./img/banner/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 50px;
   
}
.news-point p{
   margin-bottom: 30px;
}
.news-point h2{
    font-size: 40px;
    padding: 30px 0px;
}
.news-point a{
  
    display:inline-flex;
    background-color:#231A36;
    color: #ffffff;
    padding: 20px 30px;
    border-radius: 50px;
    margin-bottom: 30px;
}
/* reponse */

@media only screen and (max-width:476px){
    .news>.container{
        max-width: 80%;
    }
}
   
    
    

   
